.container {
    text-align: center;
    width: 600px;
    margin: auto;
}
.examples {
    margin-top: 50px;
}
.examples .subheading {
    margin-bottom: 20px;
}
p {
    margin: 0 0 5px 0;
}
p.description {
    color: #aaa;
}
.info {
    margin: 50px auto;
    border-radius: 10px;
    border: 1px dotted #666;
    padding: 15px;
}
.info p.item {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
}
p.bg-warning {
    background-color: rgba(243, 156, 18, 0.7);
}